<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
  <testsuites>
    <testsuite name="All">
      <directory suffix="Test.php">Float</directory>
      <directory suffix="Test.php">Int</directory>
      <directory suffix="Test.php">String</directory>
      <directory suffix="Test.php">Arrays</directory>
      <directory suffix="Test.php">Bool</directory>
      <file>StringifyTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">../vendor/</directory>
    </exclude>
  </source>
  <php>
    <ini name="memory_limit" value="512M"/>
  </php>
</phpunit>
